html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #0079bf;
} 

header {
	width: 100%;
	height: 40px;
	background-color: #026AA7;
	padding: 0;
	margin: 0;
} 

nav {
	margin: 0;
	padding: 0;
	float: left;
}

.boards {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	width: auto;
	margin: 5px 8px;
	height: 30px;
	padding: 5px 8px;
	background-color: #67A6CA;
	float: left;
	color: white;
	line-height: 20px;
	border-radius: 3px;
	box-sizing: border-box;
}

h6{
	display: inline-block;
}

i {
	padding: 3px 0px;
	margin: 0 12px 0 0;
	float: left;
	display: inline-block;
	color: white;
}

.bsearch {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	width: auto;
	margin: 5px 8px 5px 0px;
	height: 30px;
	padding: 5px 8px;
	background-color: #67A6CA;
	float: left;
	color: white;
	border-radius: 3px;
	box-sizing: border-box;
}

input {
	border-style:  none;
	background-color: #67A6CA;
}

.brand {
	float: left;
	margin: 5px 290px;
	padding: 0px 5px;
}

.brand a:hover {
    opacity: 0.4;
}

.icon{
	float: right;
	padding: 3px 0px;
	margin-left: 115px;
}

ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	font-size: 14px;
	width: auto;
	margin: 2px 4px;
	height: 30px;
	padding: 5px 8px;
	float: left;
	color: white;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: #67A6CA;
} 

.fa-plus, .fa-info-circle, .fa-bell-o {
	margin: 0 7px 0 7px ;
}

.imgprofile{
	height: 30px;
	width: 30px;
	margin: 2px 7px;
	border-radius: 20px;
}

.submenu{
	display: inline-block;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: white;
	margin: 0px 18px;
}

h3, h4{
	display: inline-block;
	float: left;
}
.icon-submenu{
	display: inline-block;
}

.fa-star-o, .fa-lock{
	display: inline-block;
	margin: 17px 10px 0 0;
	padding-left: 20px;
}




//JS

#container {
    display: inline-block;
}

#label{
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	background-color: #026AA7;
	color: white;
	border: none;
	height: 30px;
	width: 260px;
	padding: 8px 8px;
	font-size: 14px;
	text-align: left;
	margin: 0 8px;
	border-radius: 3px;
}

#containerTwo {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	background-color: #e1e3e6;
    width: 260px;
    padding: 8px 8px;
    margin: 0 8px;
    display: inline-block;
}

#inputA {
	box-sizing: border-box;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
    padding: 7px;
    width: 100%;
    background-color: #cccccc;
    border: none;
    border-radius: 3px;   
}

#guardarBtn {
	box-sizing: border-box;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: white;
	padding: 8px 13px;
    margin: 8px 0;
    background-color: #24ba3f;
    border: none;
    border-radius: 3px;
    font-weight: bolder;
    cursor: pointer;
}

.fa-times {  /*icono x*/
	float: right;
    font-size: 30px;
    color: #999;;
    cursor: pointer;
    padding: 8px 10px;
    vertical-align: middle;
}

#cardContainer {
	box-sizing: border-box;
	display: inline-block;
    width: 260px;
    background: #e1e3e6;
    margin: 0 8px;
    cursor: pointer;
}

#labelCard, p.parrafo{
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
    margin: 0 8px;
    padding: 8px 8px;
}

.fa-ellipsis-h{
	float: right;
    font-size: 30px;
    vertical-align: middle;
    color: #999;;
    cursor: pointer;
    margin: 0 8px;
    padding: 8px 8px;
}

#addCard{
    display: block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #999;
    font-size: 14px;
    padding: 8px 8px;

}

#addCard:hover{
	background-color: #cacaca;
	text-decoration: underline;
}

#textarea{
	box-sizing: border-box;
	display: block;
    width: 94%;
    background: #ffffff;
    margin: 8px;
    padding: 7px;
    outline: none;
    border: none;
    resize:none;
    border-radius: 3px;
}


#guardarBtnTex{
	clear: left;
	box-sizing: border-box;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: white;
	padding: 8px 13px;
    margin: 8px;
    background-color: #24ba3f;
    border: none;
    border-radius: 3px;
    font-weight: bolder;
    cursor: pointer;
}

#labelCardTextarea{
    display: block;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 8px;
}

p#parrafoTextarea{
	box-sizing: border-box;
	display: block;
    background: #ffffff;
    padding: 5px;
    outline: none;
    border: none;
    resize:none;
    border-radius: 3px;
    margin: 1px 0px 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #4d4d4d;
}

    
    